/* universial  ------------*/

body{
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #e2f0e8;
}

li {
   font-size: 22px;
}
.logo img {
  width: 300px;
  height:200px;
  
}

header{
  align-items: center;
}

section {
  align-items: center;
}

a {
  color: white;
}

h1 {
  font-size: 80px;
  text-align: center;
  color: red;
}

h2{
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 15px;

  text-align: center;
}

.grid-row{
  
}

#container-1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.steps-container {
  background-color: white;
  padding: 20px;
}

span {
  color: white;
  font-size: 40px;
  text-align: center;
}


/* nav ------------*/

.top {
  max-width: 960px;
  margin: 0 auto;
}
  
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {

  padding: .5rem;
  color: red;
}
    
img {
  display: flex;
  justify-content: left;
  width: 300px;
  height:300px;
  margin:10px ;
}


.container {
  width: 100%;
  display: flex;
  justify-content: center;
}


source {
  align-items: center;
}

.left {
   font-size: 30px;
   border: 3px soild red;
}
  

article {
  height: 1000px;
  margin: 30px;
}

/* links  ------------*/


.box {
  background-color: #404040;
  height:200px;
  width:400px;
  margin: 20px;
  padding: 40px;
}

/* footer ------------*/

footer {
  background-color: #e2f0e8;
  height: 100px;
  border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,0.125);
   
    
}
.foot-nav {
  text-align: center;
  text-decoration: none;
  
  
}

